* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 16px;
    height: 70px;
    background-color: #7289da;

}
/* #720137 */
#logo {
    height: 60px;
    width: 70px;
}

#logoText {
    font-size: 38px;
    color: #FAF9F6;
    font-family: greycliff-cf, sans-serif;
font-style: normal;
font-weight: 800;

}

#main {
    background-color: #2c2f33 ;
}